*{
    margin: 0px;
    padding: 0px;
    font-family: 'Dosis', sans-serif;
}
body{
    background-image: url("images/crafts background img.jpeg");
}

.container{
    margin: 0px auto;
    width: 1000px;
}

.nav-title, .nav-bar, .nav-links {
    display: flex;
    align-items:center;
    padding: 5px 20px;
}

.nav-title {
    color:indigo
}
.nav-bar {
    background-color: blueviolet;
}

.nav-links {
    margin-left:auto;
    justify-content: space-evenly;
    width:50%;
}

.nav-links li{
    list-style-type: none;
    width:10%;
}

.nav-links a {
    color:black;
    text-decoration: none;

}

.sub-btn {
    padding:5px 18px;
    font-size:18px;
    background-color: gold;
    box-shadow: 5px 5px hotpink;
}



